* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {outline: none;}
a :focus, a :active {outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

header {
    background-image: url('..//img/background_16771.png');
    width: 1600px;
    height: 1000px;
    background-color: #f4f4f5;
    background-size: cover;
    background-position: center;
    padding: 61px 218px 0 215px;
    
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header__list{
    display: flex;
    
}

.header__item{
    padding: 5px 10px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #26272d;
}

.header__item--opacity{
    padding: 5px 10px;
}

.header__title{
    font-family: 'Varela Round';
    font-size: 62px;
    line-height: 72px;
    font-weight: 400;
    color: #26272d;
    padding-top: 128px;
    text-align: center;
}

.header__text {
    padding-top: 40px;
    margin-left: 175px;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
    max-width: 781px
}

.header__btn-head{
    width: 205px;
    height: 50px;
    border: 1px solid #26272d;
    border-radius: 25px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #26272d;
    margin: 62px 0 0 460px;
}    

