* {
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {outline: none;}
a :focus, a :active {outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

header {
    background-image: url('..//img/background_16771.png');
    width: 1600px;
    height: 1000px;
    background-color: #f4f4f5;
    background-size: cover;
    background-position: center;
    padding: 61px 218px 0 215px;
    
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__item{
    padding: 5px 10px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #26272d;
}

.header__item--opacity{
    padding: 5px 10px;
    opacity: 0.4;
    color: #1b1c1e;
}

.header__btn{
    width: 132px;
    height: 42px;
    background-color: #267df4;
    border-radius: 21px;
    color: #ffffff;
}

.header__logo{
    width: 140px;
    height: 13px;
    
}

.header__title{
    font-family: 'Varela Round';
    font-size: 62px;
    line-height: 72px;
    font-weight: 400;
    color: #26272d;
    padding-top: 128px;
    text-align: center;
}

.header__text {
    padding-top: 40px;
    margin-left: 175px;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
    max-width: 781px
}

.header__btn-head{
    width: 205px;
    height: 50px;
    border: 1px solid #26272d;
    border-radius: 25px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #26272d;
    margin: 62px 0 0 460px;
}    

.testimonials{
    display: flex;

    padding: 286px 171px 167px 252px;
}

.testimonials__box{
    margin-right: 77px;
    max-width: 496px;
}

.testimonials__block{
    max-width: 500px
}

.testimonials__title{
    font-family: Lato;
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    color: #26272d; 
    padding-bottom: 44px;   
}

.testimonials__txt{
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #8c8f94;
}

.about{
    display: flex;

    padding: 86px 185px 42px 0;
}

.about__content{
    padding-top: 138px;
}

.about__title{
    font-family: 'Varela Round';
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #26272d;
    padding-bottom: 73px;
}

.about__txt{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}

.about__btn{
    margin-top: 89px;
    width: 202px;
    height: 42px;
    background-color: #267df4;
    border-radius: 21px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;

}

.about__link{
    width: 142px;
    height: 42px;
    border: 1px solid #26272d;
    border-radius: 21px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #26272d;
    margin-left: 20px;
    padding: 10px 31px;
}

.location{
    padding: 205px 0 198px 133px;
    display: flex;
}

.location__content{
    margin-right: 75px;
}

.location__title{
    font-family: 'Varela Round';
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #26272d;
    padding-bottom: 64px;
}

.location__txt{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}

.location__subtitle{
    padding-top: 64px;
    font-family: Lato;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
}

.location__img--drop{
    padding-top: 31px;
    padding-right: 31px;
}   

.location__img--ever{
    padding-top: 31px;
}

.interface{
    padding: 283px 0 123px 0;
    
}

.interface__title{
    font-family: 'Varela Round';
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #26272d;
    text-align: center;
}

.interface__subtitle{
    font-family: Lato;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8c8f94;
    padding-top: 92px;
    text-align: center;
    
}

.interface__content{
    padding-top: 46px;
    display: flex;
    width: 20%;
}

.interface__box{

}

.regisration{
    padding: 75px 550px 131px 550px;
}

.regisration__name{
    text-align: center;
    opacity: 0.5;
    font-family: Lato;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;

}

.regisration__title{
    text-align: center;
    font-family: 'Varela Round';
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #3a3d4b;
    min-width: 434px;
    padding-top: 37px;
}

.regisration__form{
    padding-top: 47px;
    padding-bottom: 66px;
    text-align: center;
}

.regisration__span{
    opacity: 0.3;
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;
    
}

.regisration__link{
    width: 210px;
    height: 60px;
    background-color: #131315;
    border-radius: 30px;
    color: white;
    

}

.reviews{
    padding: 132px 236px 128px 236px;
}

.reviews__wrap{
    text-align: center;
    width: 100%;
}

.reviews__box{
    
}

.reviews__title{
    font-family: Lato;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    color: #26272d;
}

.reviews__excerpt{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}

.reviews__span{
    font-family: Lato;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
}

.subscribe{
    padding: 159px 215px 190px 85px;
    display: flex;
    background-color: #f4f4f5;
}

.subscribe__wrap{
    width: 1600px;
    height: 900px;
    background-color: #f4f4f5;
}

.subscribe__title{
    font-family: 'Varela Round';
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: #26272d;
    padding-bottom: 67px;
    max-width: 215px;

}

.subscribe__span--opacity{
    font-family: Lato;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    
}

.subscribe__txt{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
    max-width: 365px;
    padding-top: 81px;
    padding-bottom: 44px;
}

.subscribe__link{
    text-decoration: underline;
    color: #267df4;
}

.subscribe__starter{
    width: 340px;
    height: 550px;
    background-color: #ffffff;
    box-shadow: 10px 28px 50px 0px rgba(92,95,101,0.2);
    border-radius: 10px;
}

.starter__title{
    font-family: Lato;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    color: #26272d;
    padding-bottom: 29px;
    text-align: center;
    padding-top: 62px;
}

.starter__span{
    width: 63px;
    height: 28px;
    opacity: 0.2;
    border: 1px solid #26292c;
    border-radius: 14px;
    font-family: Lato;
    font-size: 11px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
}

.starter__subtitle{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
    padding-top: 56px;
    text-align: center;
}

.starter__list{
    padding-top: 47px;
    text-align: center;
}

.starter__item{
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #26292c;
   
}

.starter__btn{
    width: 212px;
    height: 42px;
    background-color: #267df4;
    border-radius: 21px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-top: 89px;
    
}

.subscribe__pro{
    background-color: #ebebed;
    width: 340px;
    height: 510px;
    background-color: #ebebed;
    border-radius: 10px;
}

.pro__title{
    font-family: Lato;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    color: #26272d;
    padding-top: 43px;
    text-align: center;
    padding-bottom: 37px;
}

.pro__span{
    width: 63px;
    height: 28px;
    opacity: 0.2;
    border: 1px solid #26292c;
    border-radius: 14px;
    font-family: Lato;
    font-size: 11px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
}

.pro__subtitle{
    font-family: Lato;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
    padding-top: 65px;
}

.pro__list{
    text-align: center;
    padding-top: 50px;
}

.pro__item{
   font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #26292c; 
}

.pro__btn{
    width: 202px;
    height: 42px;
    border: 1px solid #267df4;
    border-radius: 21px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #267df4;
    margin-top: 65px;
}
